body{
    background: #000;
    color: white;
    font-family: consolas;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
code{
    font-family: cascadia code;
    border-radius: 30px;
}

hr{
    width:75%;
}
button{
    background: #33B864;
    border: none;
    font-size: 30px;
    border-radius: 30px;
    cursor: pointer;
}